body {
  font-family: sans-serif;
  background-image: url("https://cdn.dribbble.com/users/108183/screenshots/5827096/attachments/1256163/processing_poster_a4_dark_4x.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}